.vscode/browse.vc.db
.vscode/browse.vc.db-shm
.vscode/browse.vc.db-wal
.vscode/c_cpp_properties.json
.vscode/settings.json
launch/__pycache__/send_pose_goal.launch.cpython-312.pyc
moveit_python_examples/__pycache__/send_pose_goal.cpython-312.pyc
